.title{
    padding-top: 1rem;
    text-align: center;
    font-size: 1.8rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    gap: 10px;
    justify-items: center;
    padding: 2rem;
    row-gap: 1rem;
}
