$border-color: '#3a3b3a';

.mainStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.banner {
    display: block;
    position: relative;
    width: 30vw;
    height: 65vh;
    overflow: hidden;
    border: 1px solid $border-color;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(51, 50, 50);
    border-radius: 10px;
}