$color-det: #141414;
$color-main: #545454;


.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px $color-main;
    border-radius: 10px;
    margin: 0 20% 0 20%;
    background-color: $color-det;
    padding: 2.5%;
}

.desc{
    color: $color-main;
    font-size: 0.8rem;
}

.title{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons{
    width: 22px;
    height: 22px;
}